.connectButton {
  background: var(--primary-button);
  border: 2px solid var(--primary-button);
  border-radius: 6px;
  color: var(--primary-button-text);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 24px;
}

.connectButton:hover {
  background: var(--primary-button-hover);
  border: 2px solid var(--primary-button-hover);
}
